<h1>dashboard</h1>@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">

    <div class="col-md-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3>125</h3>
                <p>Total Products</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3>12</h3>
                <p>Categories</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3>37</h3>
                <p>Low Stock</p>
            </div>
        </div>
    </div>

</div>